.modal {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal .new-burger {
    display: flex;
    flex-direction: column;
    background-color: #F0F0F5;

    width: 100%;
    padding: 25px 35px;

    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
}

.modal .new-burger fieldset {
    border: 0;
    display: flex;
    flex-direction: column;
}

.modal .new-burger fieldset legend {
    font-weight: 600;
    font-size: 2.5rem;
}

.modal .new-burger fieldset label {
    font-weight: 400;
    font-size: 1.2rem;
    margin-top: 20px;
}

.modal .new-burger fieldset input {
    border: 0;
    margin-top: 5px;
    padding: 15px 20px;
    border-radius: 8px;

    color: #797979;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
    background-color: white;
}

.modal .new-burger fieldset .input-row .input-column {
    display: flex;
    flex-direction: column;
}

.modal .new-burger button {
    padding: 12px;
    margin-top: 25px;
    width: 200px;
    border-radius: 8px;
    cursor: pointer;

    align-self: center;
    display: flex;
    align-items: center;
    justify-content: space-around;

    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1.4rem;

    transition: background 0.3s;
}

.modal .new-burger button:hover {
    background-color: #298100;
}

.modal .new-burger button span {
    margin-top: 2px;
}

@media (min-width: 1000px) {
    .modal .new-burger {
        width: 60%;
    }

    .modal .new-burger fieldset .input-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .modal .new-burger fieldset .input-row .input-column:nth-child(1) {
        width: 65%;
    }

    .modal .new-burger fieldset .input-row .input-column:nth-child(2) {
        width: 30%;
    }

    .modal .new-burger button {
        align-self: flex-end;
    }
}
